* {
    font-family: arial;

}

button {
    display: block;
    margin: 20px auto;
    background-color: crimson;
    color: white;
    border: 0px;
    cursor: pointer;
    padding: 6px 10px;
}

.popup-wrapper {
    background: rgb(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    background: white;
    position: relative;
    padding: 20px;
}

.popup a {
    color: white;
    cursor: pointer;
    padding: 6px 10px;
    text-decoration: none;
    background-color: crimson;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}